:root {
  color-scheme: dark;
  --text: #ffffff;
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #b9b9b9;
  --accent-bg: rgba(248, 0, 153, 0.85);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color: var(--text) !important;
  background-color: var(--bg) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--text);
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--bg) !important;
  color: var(--text) !important;
  color-scheme: dark;
}

/* Dark forcing — div */


/* Dark forcing — native form elemts */

/* select,
option,
input,
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
button {
  color-scheme: dark;
  background-color: var(--code-bg);
  color: var(--text);
} */

option {
  background-color: var(--code-bg);
  color: var(--text);
}

option:hover,
option:focus,
option:checked {
  background-color: var(--bg);
  color: var(--text);
}

div,
section,
article,
aside,
nav,
main,
header,
footer {
  color-scheme: dark;
}

p,
span,
li,
a,
label {
  color: var(--text);
}

p {
  margin: 0 10%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h) !important;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

hr {
  width: 60%;
  margin: 3rem auto;
  border: none;
  height: 2px;
  background-color: #333;
  border-radius: 2px;
}