@media screen and (max-width: 768px) {
  .nav-container {
    gap: 1.5rem;
    padding: 0 16px;
  }

  .main-content {
    margin-top: 60vh;
  }

  .header-logo {
    font-size: 2.8rem;
    flex-direction: column;
    gap: 4px;
    text-align: center;
  }

  .nav-links {
    gap: 1rem;
    align-items: center;
  }

  .nav-links a {
    font-size: 1.5rem;
  }

  #cat-image-header {
    width: 200px;
    height: auto;
    max-height: 30vh;
  }

  .responsive-header.scrolled {
    height: 60px;
  }

  .responsive-header.scrolled .nav-container {
    justify-content: center;
    gap: 25%;
  }

  .responsive-header.scrolled .header-logo {
    font-size: 1.2rem;
    flex-direction: row;
  }

  .responsive-header.scrolled .nav-links {
    flex-direction: row;
    gap: 1rem;
  }

  .responsive-header.scrolled .nav-links a {
    font-size: 14px;
  }

  .responsive-header.scrolled #cat-image-header-container {
    display: none;
  }
  
}